.oGrid
{
    border-spacing:0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.oGrid td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color:#555555;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: .4em .6em;
    font-size: 0.9em;
}
.oGrid td:first-child{
    border-left: 0px;

}
.oGrid .headerrow th 
{
    font-size: 1em;
    color: #000;
    border-left: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-image: linear-gradient(to bottom, #ebf3fc 50%, #ced6de 100%);
    text-align:center;
    line-height:28px;
    /* position: relative; cursor :e-resize;display: inline;overflow: hidden; */
}
.oGrid .headerrow th:first-child { border-left: none; border-radius: 6px 0 0 0; }

.oGrid .headerrow th:last-child { border-radius: 0 6px 0 0; }

.oGrid .selected{background-color:#f9fcc7;}

.oGrid .sortable {
	cursor:pointer;
}

.oGrid .sort-asc {
    margin-top:10px;
    position:absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.oGrid .sort-desc {
    margin-top:10px;
    position:absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}

.oGrid datarowodd{background-color:#ffffff;}
.oGrid .dataroweven{background-color:#ebf3fc;}
.oGrid .datarowodd:hover, .dataroweven:hover {
	background-color: #cde2f7;
}

.oGrid div.pagination ul {
    list-style: none;
    padding: 0px;
    line-height: 0px;
}

.oGrid div.pagination li {
    display: inline;
}

.oGrid div.pagination {
    overflow: hidden;
    font-size: 9pt;
	padding:0px;
	margin:3px;
	text-align:center;
}

.oGrid div.pagination li.normal {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9aafe5;

	text-decoration: none;
	color: #2e6ab1;
}

.oGrid div.pagination li.normal:hover, div.pagination li.normal:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}

.oGrid div.pagination li.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #2e6ab1;
	color: #FFF;
}

.oGrid div.pagination li.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}

.oGrid div.toolbar
{
    padding-bottom:2px;
}

.btn
{
    padding: 2px 2px 5px;
    background-image: linear-gradient(to bottom, #fff 0%, #ddd 100%);
    background-color: #fff;
    cursor:pointer;
    color: #393939;
    border:1px #aaaaaa solid;
    border-radius: 4px;
    padding-bottom: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    min-width:90px;
    min-height:20px;
    vertical-align: middle;
    margin-bottom: 0;
}
.btn:disabled {
	background-image:none;
    border-color: #ccc;
    cursor:not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
} 
.btn:hover {
    background-image: linear-gradient(to bottom, #ebf3fc 30%, #c4cbd2 100%);
}
.btn[disabled]:hover {
    /* turn off button hover styles */
    background-image:none;
}


@media screen and (min-width: 400px) and (max-width: 900px) {
    .oGrid td{
        font-size: 20px;
        padding: .2em .4em;
    }
    .oGrid .headerrow th 
    {
        font-size: 21px;
    }
    .oGrid div.pagination {
        font-size: 14px;
    }
    .btn
    {
        font-size: 23px;
        font-weight: 700;
        margin-left: 10px;
        min-width:110px;
    }
}